body{
    font-family:Plus Jakarta Sans;
    background-color: white;
    margin:0px;
    padding:0px;
    overflow: auto;
    position: relative;
    box-sizing: border-box;
    


}

 .nav-linki{
    text-decoration: none;
    font-size:20px;
    padding:13px 23px;
    background-color: #13183F;
    color:white;
    font-weight: 700;
    border-radius: 28px;
    transition:background-color 0.5s;
    cursor: pointer;
    border:1px solid #13183F;
}

@media screen and (max-width:342px){
    .get-started{
        margin-right: 1px !important;
    }
}

@media screen and (max-width:342px){
    .skilled{
        margin-left:1px !important;
    }
}

@media screen and (max-width:257px){
    .get-started{
        margin-right: 0px !important;
    }
}

/* @media screen and (max-width:219px){
    .get-started{
        margin-right: -50px !important;
    }
}

@media screen and (max-width:189px){
    .get-started{
        margin-right: -70px !important;
    }
}


@media screen and (max-width:163px){
    .get-started{
        margin-right: -80px !important;
    }
} */

@media screen and (max-width:372px){
    .nav-linki{
        font-size:10px;
        padding:12px 22px;
    }
}

@media screen and (min-width:1000px){
     .skilled{
        margin-left: 165px;
    }
}

@media screen and (max-width:1139px){
    .skilled{
        margin-left:60px;
    }
}

@media screen and (min-width:1000px){
    .get-started{
       margin-right: 165px;
   }
}

@media screen and (max-width:1139px){
   .get-started{
       margin-right:60px;
   }
}


@media screen and (max-width:500px){
    .get-started{
       margin-right: 16px;
   }
}

@media screen and (max-width:500px){
   .skilled{
       margin-left:16px;
   }
}



.skilled{
        position:relative;
        align-items: center;
        justify-content: center; 
        
}

@media screen and (max-width:1139px){
    .skilled{
        margin-top:-5px;
    }
}

.get-started{
    position: relative;
    margin-top:10px;
    z-index: 5;
    cursor: pointer;

}

@media screen and (max-width:1139px){
    .get-started{
        margin-top:-10px;
    }
}


.nav-linki:hover{
        background-color: transparent;
        color:black;
        
        
}


.header{
    display:flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    top: 38px;
    width:100%;
    

}

@media screen and (min-width:1470px){
    .header{
        justify-content: center;
        

    }
}
 

@media screen and (min-width:1470px){
     .shesavali{
        justify-content: center;
        align-items: center;
        margin-right:800px
        
     }
}

@media screen and (min-width:1470px){
        .skilled{
            margin-right:800px;
        }
}

h2{
    font-style: normal;
font-weight: 800;
font-size: 56px;
line-height: 71px;
max-width:457px;
color: #13183F;
margin:0px;

}

@media screen and (max-width:1217px){
    h2{
        font-size:40px;
        line-height: 50px;
    }
}

@media screen and (max-width:1217px){
   .shesavali  .shua-p{
        font-size: 16px;
        max-width:400px;
        
    }
}

@media screen and (max-width:1217px){
    .button{
        height:56px;
    }
}

.shua-p{
    font-weight: 500;
font-size: 18px;
line-height: 28px;
max-width: 445px;
color: #83869A;
}

@media screen and (max-width:776px){
    .shua-p{
        max-width:350px;
    }
}

.button{
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    padding-top: 20px;
    padding-bottom: 16px;
    padding-right:31px;
    padding-left:31px;
    font-weight: 700;
    border:none;
    color:white;
    font-size: 18px;
    cursor:pointer;
    margin-top:40px;
    transition:all 1.5s;
    max-width: 165px;
    margin-right:292px;
    border:1px solid  #F02AA6;
    max-height: 59px;
    position: relative;
    
    
}

.button:hover{
    background:transparent;
    color:black;
    
}

@media screen and (max-width:1217px){
    .shesavali{
        right:110px;
        
    }
}

.shesavali{
    margin-top:180px;
    margin-left:165px; 
    display: flex;
    position: relative;
    flex-direction: column;

}

@media screen and (max-width:776px){
    .rect{
        display: none;
    }
}

.shua-p{
    margin: 0px;
    margin-top:29px;
    
}

.rect{
position: absolute;
width: 450px;
height: 600px;
top:-10px;
right:0px;

}

@media screen and (max-width:1217px){
    .rect{
        width:350px;
        height:500px;
        right:-66px;
    }
}

.mask{
    position: absolute;
    top:160px;
    right:200px;
    overflow: hidden;
    width:250px;
    height:450px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 158.5px;

}

@media screen and (max-width:776px){
    .mask {
       height:250px !important;
       display: flex !important;
       position: relative;
       margin: auto;
       right:0px !important;
       width:250px !important;
       top:-130px !important;
       
       
       
    }

} 



@media screen and (max-width:1217px){
    .mask{
        right:75px;
        top:130px;
        width:210px;
        height:360px;
        
    }
} 

@media screen and (max-width:776px){
    .mask-parent{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.kali{
    height:400px;
    margin-top: 50px;;
}

@media screen and (max-width:1217px){
    .kali{
       height:310px;
       margin-left:5px;
    }
}

@media screen and (max-width:776px){
    .kali{
        height:320px;
        margin-left:28px;
        margin-top:30px;
    }
    
}

.bolosekcia div{
    
    height:300px;
    
    
} 

.bolosekcia{
    display: grid; 
    position: relative;
    grid-template-columns:325px 325px 325px;
    top:150px;
    justify-content: center;
    column-gap: 30px;
    row-gap:50px;
    margin-bottom:300px;

    
} 

@media screen and (max-width:1140px){
    .bolosekcia{
           grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:1000px){
    .bolosekcia{
        grid-template-columns:1fr 1fr;
        margin-left:30px;
        margin-right:30px;
    }
}

@media screen and (max-width:570px){
    .bolosekcia{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:570px){
    .unique{
        height:120px !important;
        
    }
}

@media screen and (max-width:570px){
    .unique h2{
        margin-top: 10px !important;
        font-size: 32px !important;
        max-width: 400px !important;
        
    }
}

.footer{
     height:120px;
    width:100%;
    margin:0px;
    background-color: #13183F;
    display: flex;
     justify-content: center;
     align-items: center;
}


.unique{
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
border-radius: 15px;
}

.tetrebi{
    background: #FFFFFF;
   box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
   border-radius:15px;
   position:relative;

   }
   

.unique h2{
 font-weight: 800;
font-size: 32px;
line-height: 40px;
max-width: 300px;;
color: #FFFFFF;
margin-left:30px;
margin-top:60px;

}
  
@media screen and (max-width:395px){
    .unique h2{
        margin-top:0px !important;
    }
}

/* @media screen and (max-width:370px){
    .unique h2{
        margin-top:0px;
    }
} */

.paragrapebi{
    font-weight: 500;
font-size: 18px;
line-height: 28px;
color: #83869A;
margin:0px;
margin-top:24px;
margin-left:32px;
}

.bolosekcia h3{
    font-weight: 800;
font-size: 24px;
line-height: 30px;
color: #13183F;
margin:0px;
margin-top:64px;
margin-left:32px;

}

.get-started-p{
    font-weight: 700;
font-size: 18px;
line-height: 28px;
color: #F74780;
margin:0px;
margin-left:32px;
margin-top:20px;
position:absolute;
bottom:25px;

}

.pirveli-p{ 

font-size: 18px;
 position: relative;
line-height: 28px;
color: #FFA7C3;
margin-left:32px;
display: inline-block;

}

.hand{
    position: absolute;
    right:7px;
    top:15px;    

}

.hand1{
    display: inline;
    position: absolute;
    top:50px;
    right:20px;
}

.stats h1{
 display: inline-block;
 position: absolute;
font-weight: 800;
font-size: 40px;
line-height: 50px;
color: #13183F;
margin-left:24px;
display: inline-block;
top:20px;

}

.stats p{
font-weight: 700;
position:absolute;
font-size: 16px;
line-height: 28px;
color: #83869A;
margin-left:24px;
display: inline-block;
}

@media screen and (max-width:1139px){
    .stats p{
        font-size:14px;
        margin-top:16px;
    }
}

.stats{
    width:200px;
    height:120px;
    position:absolute;
    background: #FFFFFF;
    box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);
    border-radius: 15px;
    right:385px;
    top:420px;
    z-index: 5;
}

@media screen and (max-width:776px){
    .stats{
        display: flex;
        position: relative;
        z-index: 15;
        margin: auto;
        left:-105px;
        top:160px !important;
        height:100px !important;
       
    }
}

@media screen and (max-width:776px){
    .stats1 {
        display:flex;
        position: relative !important;
        z-index: 17;
        margin: auto;
        left:110px;
        top:50px !important;
        height:100px !important;
       
    }
}


@media screen and (max-width:1217px){
    .stats{
        width:155px;
        height:110px;
    }
}

@media screen and (max-width:1217px){
    .stats{
        right:180px;
        top:425px;
    }
}

.rect-div{
    position: relative;
}

@media screen and (max-width:632px){
    .button{
        width:165px;
    }
}

.stats1 p{
    font-weight: 700;
font-size: 16px;
line-height: 28px;
color: #83869A;
position: absolute;
margin-left:24px;
margin-top:20px;
}

@media screen and (max-width:1217px){
    .stats1 p{
        font-size:14px;
        margin-top:19px;
    }
    }


.stats1 h2{
    font-weight: 800;
font-size: 40px;
line-height: 50px;
color: #13183F;
position: absolute;
margin-left:24px;
margin-top:50px;

}

@media screen and (max-width:1217px){
    .stats h1{
        font-size:32px;
    }
}


.stats1{
 background: #FFFFFF;
box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);
border-radius: 15px;
width:165px;
height:120px;
position: absolute;
right:70px;
top:230px;
z-index: 1;

}  

@media screen and (max-width:1217px){
    .stats1{
        right:28px;
        top:110px;
    }
}

@media screen and (max-width:1217px){
    .stats1{
        width:108px;
        height:106px;
    }
}

@media screen and (max-width:1217px){
    .stats1 h2{
        font-size:32px;
        margin-top:42px;
    }
}



.kacuna{  
width: 56px;
border-radius: 28px;
max-height: 56px;
background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
position:absolute;
left:30px;
top:-25px;
display: flex;
align-items: center;
justify-content: center;
}

.skilled2 {
   margin-right: 800px;
   width:119px;
   
}

.get-started-2{
   text-decoration: none;
background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
border-radius: 28px;
font-weight: 700;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;
padding:14px 31px;
}

@media screen and (max-width:450px){
    .get-started-2 {
       right: 5px !important;
    }
}

@media screen and (max-width:450px){
    .skilled2 {
       left: 30px !important;
    }
}


@media screen and (min-width:1470px){
    .footer{
        justify-content: center;
    }
}

 @media screen and (min-width:1470px){
    .skilled2{
        margin-right:800px;
    }
} 

@media screen and (max-width:1167px){
    .skilled2{
        position: absolute;
        left:60px;
    }
}

@media screen and (max-width:1167px){
    .get-started-2{
         position: absolute;
        right:60px; 
    }
} 


@media screen and (max-width:776px){
    .bolosekcia{
        margin-top:-160px;
    }
}

@media screen and (max-width:372px){
    .skilled{
        
        
    }
}

@media screen and (max-width:372px){
    .get-started{
    
        
    }
}